@import "../../styles//variables";

.container {
  display: flex;
  justify-content: center;
  background-color: $color-lightgrey;
}

.items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1100px;
}

.card {
  background-color: $color-white;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.14);
  margin: 0 20px $spacer-large 20px;
  padding-bottom: $spacer;

  img {
    margin-bottom: $spacer;
  }

  .itemInfo {
    padding-left: $spacer;

    .itemCost {
      font-weight: bold;
    }

    .itemName {
      margin: $spacer-base 0 0 0;
    }
  }
}
