@import "../../styles//variables";

.container {
  display: flex;
  justify-content: center;
  background-color: $color-lightgrey;
}

.items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1100px;
}

.card {
  background-color: $color-white;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.14);
  margin: 0 20px $spacer-large 20px;
  padding-bottom: $spacer;

  img {
    margin-bottom: $spacer;
  }

  .itemInfo {
    padding: 0 $spacer;

    .itemCost {
      font-weight: bold;
    }

    .itemName {
      margin: $spacer-small 0 $spacer-small 0;
    }
  }

  .buttonAndInput {
    display: flex;
    justify-content: space-between;

    button,
    input {
      outline: none;
      padding: 10px 0;
      width: 80px;
      @include bordered($color-lightgrey, 1px);
      color: $color-black;
      border-radius: $border-radius;
      transition: $transition;
      font-size: 14px;
      text-align: center;
    }

    input {
      padding: 0 $spacer-base;
      &:hover,
      &:focus {
        @include bordered($color-black, 1px);
      }
    }

    button {
      &:disabled {
        cursor: not-allowed;
      }
      &.canSell {
        background-color: $color-red;
        color: $color-white;
        &:hover {
          cursor: pointer;
        }
      }
      &.canBuy {
        background-color: $color-green;
        color: $color-white;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
