@import "../../styles/_variables.scss";

.billionairesTable {
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: $spacer-large;

  .title {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }

    p {
      margin: 0 0 $spacer-small 0;
    }

    .close {
      outline: none;

      @media (max-width: 767px) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: $spacer-small;
      }

      i {
        color: $color-lightgrey;
        transition: $transition;
        cursor: pointer;

        &:hover {
          color: $color-black;
        }
      }
    }
  }

  .row {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: $spacer 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    &:first-child {
      border-top: 1px solid red;
    }

    .imageNameMoney {
      display: flex;
      width: 300px;

      @media (max-width: 767px) {
        margin-bottom: $spacer-small;
      }
    }

    img {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      margin-right: $spacer;
    }

    .nameMoney {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .wealthSource {
      color: $color-dark-orange;
    }

    .buttonContainer {
      button {
        outline: none;
        padding: $spacer-small $spacer;
        @include bordered($color-lightgrey, 1px);
        color: $color-black;
        border-radius: $border-radius;
        transition: $transition;

        &:hover {
          cursor: pointer;
          @include bordered($color-black, 1px);
        }
      }
    }
  }
}
