@import "../../styles/variables";

.modal {
  position: fixed;
  z-index: 500;
  width: 800px;
  height: 600px;
  top: 10%;
  left: calc(50% - 400px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
  background-color: $color-white;
  border-radius: 5px;
  transition: 0.4s ease-in-out all;
  box-shadow: 0px 0px 40px 5px rgba(211, 211, 211, 1);

  @media (max-width: 767px) {
    width: 320px;
    height: 90%;
    top: 5%;
    left: calc(50% - 160px);
  }
}
