@import "../../styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  background-color: $color-yellow;
  height: 100px;
  width: 100vw;

  @media (max-width: 1023px) {
    height: 150px;
    padding: 0 5%;
  }

  .imageContainer {
    outline: none;
  }

  img {
    border: 2px solid $color-light-yellow;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    transition: $transition;

    &:hover {
      border: 2px solid $color-dark-orange;
      cursor: pointer;
    }

    @media (max-width: 1023px) {
      height: 100px;
      width: 100px;
    }
  }

  .madeBy {
    opacity: 0.8;
    font-weight: bold;
    font-size: 24px;
    color: $color-dark-orange;

    .light-yellow {
      color: $color-light-yellow;
    }
  }
}
