@import "../../styles/variables";

.totalMoney {
  position: sticky;
  top: 0;
  height: 100px;
  width: 100%;
  font-size: 45px;
  font-weight: bold;
  color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/images/dollar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 380px) {
    font-size: 35px;
  }

  p {
    margin: 0;
    background-color: white;
    padding: $spacer-small $spacer;
    @include bordered($color-lightgrey, 2px);
    border-radius: $border-radius;
  }

  span {
    color: $color-lightgreen;
  }
}
